{% extends 'base.html' %}
{% load static %}


{% block body %}
	
	<div class="container">
		<div class="mt-5">
	    	<small><a style="text-decoration: none; color:#000; font-weight: bold;" href="{% url 'home' %}">Anasaya</a> > <a style="font-weight:bold; text-decoration: none; color:#000;" href=""> Gizlilik</a></small>
		</div>
			<div class="card mt-3">
			  <h5 class="card-header text-center">Gizlilik</h5>
			  <div class="card-body">
                  <p class="card-text"> <p style="font-weight: bold;">Gizlilik ve Kişisel Verilerin Korunması</p>
                    The PALMZ aktarılan kişisel verilerin korunması konusundaki temel bilgilere aşağıda yer verilmiştir. The PALMZ, 6698 sayılı Kişisel Verilerin Korunması Kanunu ("KVKK") m. 10'dan doğan aydınlatma yükümlülüğünü yerine getirmek amacıyla aşağıdaki açıklamaları müşterilerimizin ve web-sitemizi ve/veya mobil uygulamalarımızı kullanan 3. kişilerin dikkatine sunar. ThePALMZ Giyim işbu Kişisel Verilerin Korunması Hakkında Açıklama metnini yürürlükteki mevzuatta yapılabilecek değişiklikler çerçevesinde her zaman güncelleme hakkını saklı tutar.
			</p>
			    
			  </div>
			</div>
		</div>
	</div>
{% endblock %}