{% extends 'base.html' %}
{% load static %}


{% block body %}
	
	<div class="container">
		<div class="mt-5">
	    	<small><a style="text-decoration: none; color:#000; font-weight: bold;" href="{% url 'home' %}">Anasaya</a> > <a style="font-weight:bold; text-decoration: none; color:#000;" href=""> Hakkımızda</a></small>
		</div>
			<div class="card mt-3">
			  <h5 class="card-header text-center">Hakkımızda</h5>
			  <div class="card-body">
			    <p class="card-text">   PALMZ; sıradanlıktan bıkmış, farklılık arayan, kendini herhangi bir kalıba sokmak istemeyen, güncel modaya yakın olmakla beraber bireysel modasını yaratacak kadar kendini özel hissetmek isteyen insanların içinde bulunduğu zaman ve ortamdan bağımsız olarak tercih edeceği ve tercih ettiğinde kendini özgür, özgün ve rahat hissedeceği koleksiyonlar çıkarmayı hedeflemiş bir yaşam stili olmak ısrarıyla 2020 yılında İstanbul'da kuruldu.
			   Giyim ve aksesuar üretimlerini dünya trendleriyle kendini eş zamanlı bir şekilde yenileyen, tasarımlarını ve koleksiyonlarını sabit bir hedef kitleden ziyade herkesin kendini özel ve özgün hissedeceği tasarımlarla ve malzemelerle global bir vizyon temsil etme çabasında insanlara sunmak istemektedir.
			   Doğanın bize sunduğu tüm renklerin hikayesini dünyanın her yerinden özel insanlarla buluşturmak ve insana kattığı bütün güzel hisleri her rengiyle beraber üstünüzde taşımanızı sağlayacak PALMZ sizlerle buluşmayı bekliyor.
			</p>
			    
			  </div>
			</div>
		</div>
	</div>
{% endblock %}