{% extends 'base.html' %}
{% load static %}


{% block body %}
	<div class="container mt-5">
		<p style="font-size: 20px; font-weight: bold; color: #000 !important;">Merak Ettikleriniz ve Daha Fazlası</p>
	</div>
	<div class="container mb-5 mt-4">
		<div class="card border-success">
		  <div class="card-header" style="color: #000 !important;">
		    Nasıl sipariş verebilirim?
		  </div>
		  <div class="card-body">
		    <p class="card-text">Siparişinizi thepalmz.com adresinden, Whatsapp iletişim hattından yada Sosyal Medya hesaplarımızdan DM üzerinden verebilirsiniz.</p>
		  </div>
		</div>
		<div class="mt-4 mb-4"></div>
		<div class="card border-success">
		  <div class="card-header" style="color: #000 !important;">
		    Kapıda ödeme yapabilir miyim ?
		  </div>
		  <div class="card-body">
		    <p class="card-text">Kapıda nakit/kart ile ödeme yapabilirsiniz.</p>
		  </div>
		</div>
		<div class="mt-4 mb-4"></div>
		<div class="card border-success">
		  <div class="card-header" style="color: #000 !important;">
		    Siparişim kaç günde elime ulaşır?
		  </div>
		  <div class="card-body">
		    <p class="card-text">Siparişiniz kargoya verildikten sonra 1-3 iş gününde teslim edilir.</p>
		  </div>
		</div>
		<div class="mt-4 mb-4"></div>
		<div class="card border-success">
		  <div class="card-header" style="color: #000 !important;">
		    Siparişimi nasıl takip edebilirim?
		  </div>
		  <div class="card-body">
		    <p class="card-text">Siparişiniz kargoya teslim edildiğinde tarafımızdan size e-posta aracılığı ile kargo takip numaranız bildirilecektir. E-posta adresinize gelen takip numarasının yanı sıra sitemizde bulunan Kargo Takip bölümünden mail adresinizi ve sipariş numaranızı girerek anlık olarak kargo takibi yapabilirsiniz.</p>
		  </div>
		</div>
		<div class="mt-4 mb-4"></div>
		<div class="card border-success">
		  <div class="card-header" style="color: #000 !important;">
		    Değişim yada iade yapabilir miyim?
		  </div>
		  <div class="card-body">
		    <p class="card-text">Siparişiniz sizlere ulaştıktan sonra 14 gün içerisinde değişim yada iade yapabilirsiniz.</p>
		  </div>
		</div>
		<div class="mt-4 mb-4"></div>
		<div class="card border-success">
		  <div class="card-header" style="color: #000 !important;">
		    Değişim yada iade nasıl yapabilirim?
		  </div>
		  <div class="card-body">
		    <p class="card-text">Değişim ve iade için lütfen Whatsapp Destek Hattımıza ulaşınız.( +90 0534 326 58 01 )</p>
		  </div>
		</div>
		<div class="mt-4 mb-4"></div>
		<div class="card border-success">
		  <div class="card-header" style="color: #000 !important;">
		    Kredi/Banka kartı ile güvenilir bir şekilde sipariş verebilir miyim?
		  </div>
		  <div class="card-body">
		    <p class="card-text">Ödeme süreçlerinde İyzico korumalı alışveriş altyapısını kullanmaktayız. 3D Secure sayesinde ödeme bilgileriniz sistemimizde kaydolmaz doğrudan bankanız ile ödeme gerçekleştirebilirsiniz.</p>
		  </div>
		</div>
		<div class="mt-4 mb-4"></div>
		<div class="card border-success">
		  <div class="card-header" style="color: #000 !important;">
		    Ürünü elden satın alma şansım var mı?
		  </div>
		  <div class="card-body">
		    <p class="card-text">Fiziksel bir mağazamız bulunmamaktadır. Sadece online satışımız mevcuttur.</p>
		  </div>
		</div>
		<div class="mt-4 mb-4"></div>
		<div class="card border-success">
		  <div class="card-header" style="color: #000 !important;">
		    The PALMZ kimin?
		  </div>
		  <div class="card-body">
		    <p class="card-text">The PALMZ, bu şehrin yaramaz çocukları tarafından kurulmuş olup yine bu kültüre aittir.</p>
		  </div>
		</div>
	</div>

{% endblock %}