appdirs==1.4.4
asgiref==3.2.10
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
defusedxml==0.6.0
distlib==0.3.1
Django==2.2.12
django-admin-thumbnails==0.2.5
django-allauth==0.42.0
django-ckeditor==6.0.0
django-cleanup==4.0.0
django-countries==6.1.3
django-crispy-forms==1.9.1
django-currencies==0.10.1
django-debug-toolbar==3.1.1
django-decouple==2.1
django-js-asset==1.2.2
django-jsonfield==1.4.0
django-mptt==0.11.0
django-pagination==1.0.7
django-stripe-payments==2.0.0
django-widget-tweaks==1.4.8
djangorestframework==3.11.0
filelock==3.0.12
idna==2.10
importlib-metadata==2.0.0
importlib-resources==3.2.0
joblib==0.15.1
jsonfield==2.1.1
kiwisolver==1.2.0
matplotlib==3.2.1
numpy==1.18.4
oauthlib==3.1.0
pandas==0.25.3
Pillow==7.2.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-decouple==3.3
python3-openid==3.2.0
pytz==2020.1
requests==2.24.0
requests-oauthlib==1.3.0
scikit-learn==0.23.1
scipy==1.4.1
six==1.15.0
sklearn==0.0
soupsieve==2.0.1
sqlparse==0.3.1
stripe==2.54.0
threadpoolctl==2.1.0
urllib3==1.25.10
virtualenv==20.1.0
whitenoise==5.2.0
zipp==3.4.0
iyzipay