{% extends 'base.html' %}

{% block body %}

<div class="container mt-4">

	<div class="card mt-3">
      <h5 class="card-header bg-dark text-center" style="color: #FFFFFF">Şifre Sıfırlama Bağlantısı</h5>
      <div class="card-body">
        <p class="card-text text-center">
          <p>Girdiğiniz Email Adresinizde Hesabınız varsa Size bir sıfırlama bağlantısı gönderdik. Kısa süre içinde Mailinizi Kontrol ediniz.</p>
          <p>Bir e-posta almazsanız, lütfen kayıt olduğunuz adresi girdiğinizden emin olun,
    ve spam klasörünüzü kontrol edin.</p>
          <a href="{% url 'home' %}"><button class="btn btn-warning m-auto mt-2 pull-right">Anasayfaya Dön</button></a>
        </p>


      </div>
    </div>
</div>

{% endblock %}

