@charset "UTF-8";

body,
ul, li,
canvas, button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: top; }


button, input, textarea, select {
  display: inline-block;
  -webkit-appearance: none;
  outline: none;
  color: inherit;
  overflow: visible;
  background-color: transparent;
  box-shadow: none;
  border-radius: 0; }


*,
*:before,
*:after {
  box-sizing: border-box; }

a,
a[href^="tel:"],
a[href^="callto:"] {
  font: inherit;
  color: inherit;
  text-decoration: none; }
  a:focus,
  a[href^="tel:"]:focus,
  a[href^="callto:"]:focus {
    outline: none; }




@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../fonts/MaterialIcons-Regular.woff2) format("woff2"), url(../fonts/MaterialIcons-Regular.woff) format("woff"), url(../fonts/MaterialIcons-Regular.ttf) format("truetype"); }
.material-icons-ico,
[class*="material-icons-"]:before {
  font-family: 'Material Icons';
  font-weight: 400;
  font-style: normal;
  font-size: inherit; }


.material-icons-delete:before {
  content: ""; }

.material-icons-payment:before {
  content: ""; }

.material-icons-add_shopping_cart:before {
  content: ""; }

.material-icons-card_membership:before {
  content: ""; }


/* En Önemli Kısım Headerı Doğrudan Etkiliyor*/
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  -webkit-text-size-adjust: none;
  color: #777777;
  background: #fff; }
  @media (min-width: 768px) and (max-width: 991px) {
    body {
      font-size: 18px; } }
  @media (min-width: 992px) {
    body {
      font-size: 16px;
      line-height: 26px; } }


.brand {
  max-height: 70px;
}

