{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block body %}
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-12">
				<div class="order-summery clearfix">
					{% if messages %}
				    <ul class="messages">
				        {% for message in messages %}
				        <li style="list-style: none;" {% if message.tags %} class="{{ message.tags }} alert alert-warning "{% endif %}>{{ message }}</li>
				        {% endfor %}
				    </ul>
				    {% endif %}
					<table class="shopping-cart-table table table-hover mt-5">
						<thead class="thead-dark">
							<tr>
								<th>Sipariş Kodu</th>
								<th class="text-center"> Sipariş Durumu </th>
								<th class="text-center"> Email  </th>
								<th class="text-center"> Telefon Numarası </th>
								<th class="text-center"> Adres </th>
								<th class="text-center"> Tutar </th>


							</tr>
						</thead>
						<tbody>
							{% if order_list.exists %}
							{% for item in order_list %}
								<tr>
									<td class="details">
										{{item.code}}
									</td>
									<td class="thumb">{{ item.status }}</td>
									<td class="qty text-center"><strong>{{item.email}}</strong></td>
									<td class="total text-center"><strong>{{item.phone}}</strong></td>
									<td class="text-center">{{item.address}}</td>
									<td class="text-center">{{item.total}}</td>
								</tr>

							{% endfor %}
							{% endif %}
							{% if not order_list.exists %}
							<tr>
								<td></td>
								<td></td>
								<td>Henüz Siparişiniz Bulunmamaktadır.</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							{% endif %}
						</tbody>
					</table>
                    </div>
				</div>
			</div>
		</div>
	</div>
	
</div>
{% endblock %}